.breweryCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: auto;
  margin: 0.5rem;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: aqua;
}

h2 {
  text-align: center;
  color: red;
  background-color: black;
}

h3 {
  background-color: black;
  text-align: center;
  color: green;
}

button {
  background-color: yellow;
  width: 100%;
}

.breweryButton {
  width: 150px;
}

.searchBox {
  margin-left: 10px;
}

.details {
  margin-left: 33%;
}